body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.description,
.service-item,
.features-item-3,
.form {
  text-align: center;
}

.description {
  margin-bottom: 55px;
}

.description h1 {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 32px;
}

.text {
  position: relative;
  z-index: 2;
  top: -703px;
  left: 371px;
}

.caption {
  position: relative;
  margin-bottom: 48px;
}

.caption::after {
  content: " ";
  background: url(img/triangle.png);
}

.feature-1,
.feature-2 {
  background-color: #83b4d3;
  margin-bottom: 58px;
}

.features-item-1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0;
  max-height: 258px;
  overflow: hidden;
}

.features-item-2 {
  display: flex;
  align-items: center;
  margin: 0;
  max-height: 258px;
  overflow: hidden;
}

.feature-1 figcaption,
.feature-2 figcaption {
  color: #fff;
  text-align: center;
  padding: 0 48px;
}

.feature-1 h3,
.feature-2 h3 {
  font-size: 21px;
  line-height: 21px;
  margin-top: 0;
}

.feature-1 p,
.feature-2 p {
  font-size: 14px;
  line-height: 26px;
}

.service-list,
.features-list {
  list-style: none;
}

.service-item h3,
.features-item-3 h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000;
}

.feature-3 {
  background-color: #eee;
}

.form h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #8a7a70;
  border: none;
  min-width: 570px;
  min-height: 86px;
}

.search-button:hover {
  background-color: #6d5d53;
}

.search-button:focus {
  background-color: #615046;
  color: rgba(255, 255, 255, 0.3);
}

.form-item {
  font-size: 14px;
  line-height: 26px;
  color: #000;
  background-color: #dbd7d4;
}

.form-item input {
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  color: #000;
  background-color: #fafafa;
  border: none;
}

.form-item input:hover {
  background-color: #ebebeb;
}

.form-item input:focus {
  background-color: #fff;
}

.submit-button {
  font: inherit;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.submit-button:hover {
  background-color: #669ec0;
}

.submit-button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.minus,
.plus {
  color: #a9a9a9;
  border: none;
  background-color: #f2f2f2;
}

.minu:hover,
.plus:hover {
  color: #000;
}

.minu:focus,
.plus:focus {
  color: #81b3d2;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* стилизация catalog.html */

section.filters {
  background-image: url(img/background_catalog.jpg);
  background-repeat: no-repeat;
  background-position: 50% 17%;
  background-color: #81b3d2;
  padding-top: 26px;
  padding-bottom: 15px;
}

.filters form {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  height: 218px;
}

.filter fieldset {
  border: none;
  margin-left: 72px;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
}

.input-hidden {
  display: none;
}

fieldset.infrastruct-options,
fieldset.appart-options {
  margin-top: 27px;
}

.option {
  margin-top: 20px;
}

.options-checkbox::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(img/checkbox-off.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  top: 0;
  left: 0;
}

input[type=checkbox]:checked + .options-checkbox::before {
  background-image: url(img/checkbox-on.svg);
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.input-hidden:disabled + label {
  opacity: 0.5;
}

.price-options {
  width: 330px;
  color: #fff;
  margin-left: 350px;
  margin-top: 27px;
  text-transform: uppercase;
}

.price-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #fff;
  transform: translate(-50%, -50%);
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 550;
  top: 158px;
}

.range-toggle-max {
  left: 80%;
  top: 158px;
}

.search-submit-btn {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.search-submit-btn:hover {
  color: #000;
  background: #fff;
}

.search-submit-btn {
  border: 2px solid #fff;
  background: transparent;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
}

.search-submit-btn:hover {
  background-color: #fff;
  color: #000;
}

.result-list {
  list-style: none;
}

.count {
  margin-top: 14px;
  margin-left: 32px;
}

.result-list p {
  margin-left: 48px;
}

.count b {
  font-size: 21px;
  line-height: 26px;
}

.result-list p {
  font-size: 12px;
  line-height: 18px;
}

.btn-sorting {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #81b3d2;
  margin-left: 36px;
}

.btn-sorting:active {
  color: #81b3d2;
}

.btn-sorting:hover {
  color: #81b3d2;
}

.btn-sorting:focus {
  color: #000;
}

.sort-result-btn path {
  margin-left: auto;
  fill: #cacaca;
}

.sort-result-btn path:hover {
  fill: #81b3d2;
}

.sort-result-btn path:focus {
  fill: #000;
}

.column-info {
  margin-top: -28px;
  margin-left: 30px;
}

.column-info h3 {
  font-size: 21px;
  line-height: 26px;
}

.second-wrap {
  font-size: 14px;
  line-height: 21px;
  font-weight: 100;
}

b.hotel-type {
  width: 112px;
  display: inline-block;
}

.button-info {
  color: #fff;
  background-color: #81b3d2;
  width: 110px;
  height: 27px;
}

.button-info:hover {
  background-color: #669ec0;
}

.button-info:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-booking {
  color: #fff;
  background-color: #766357;
  width: 142px;
  height: 27px;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:focus {
  background-color: #604e43;
  color: rgba(255, 255, 255, 0.3);
}

.raiting {
  color: #666;
  background-color: #f2f2f2;
}

/* сетка  */

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
  box-sizing: border-box;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 15px 0;
}

.site-navigation li:nth-child(1) {
  text-align: left;
  margin-left: 6%;
}

.site-navigation li:nth-child(2) {
  text-align: right;
  margin-right: 10%;
}

.site-navigation li:nth-child(3) {
  text-align: left;
  margin-left: 10%;
}

.site-navigation li:nth-child(4) {
  text-align: right;
  margin-right: 6%;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

ul.service-list {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 0;
  padding: 0;
  padding-top: 56px;
}

.service-item {
  width: 300px;
  min-height: 185px;
  margin-bottom: 60px;
}

.features-list {
  display: flex;
  justify-content: space-around;
  min-height: 256px;
  align-items: center;
  margin-top: -58px;
  margin-bottom: 50px;
  padding-top: 48px;
}

.form p {
  margin-bottom: 56px;
}

.features-item-3 {
  min-width: 300px;
}

.search {
  width: 568px;
  position: absolute;
  left: 418px;
  height: 394px;
}

.submit-button {
  font-size: 21px;
  line-height: 26px;
  width: 458px;
  height: 58px;
  font-weight: bold;
}

div.footer-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 132px;
  margin-right: 102px;
  padding-top: 30px;
}

.insta {
  color: #000;
  font-weight: bold;
}

ul.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  padding: 0;
  margin: 0 0 0 26px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus path {
  background-color: #669ec0;
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-button {
  width: 116px;
  height: 42px;
}

.copyright-button:hover path {
  fill: #81b3d2;
}

.copyright-button:focus path {
  fill: #bdbbbc;
}

.footer-copyright b {
  display: block;
  margin-right: 8px;
}

ul.result-list {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  padding: 0;
}

li.hotels-item,
li.hotels-item-2,
li.hotels-item-3 {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.column-stars {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 73px;
}

.wrapper-stars {
  display: flex;
}
