body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: #000000;
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.description, 
.service-item,
.features-item-3, 
.form {
  text-align: center;
}

.description {
  font-size: 21px;
  line-height: 26px;
}

.feature-1,
.feature-2 {
  background-color: #83b4d3;
}
.feature-1 figcaption, 
.feature-2 figcaption {
  color: #ffffff;
}
.feature-1 h3,
.feature-2 h3 {
  font-size: 21px;
  line-height: 21px;
}
.feature-1 p, 
.feature-2 h3 {
  font-size: 14px;
  line-height: 26px;
}
.service-list,
.features-list {
  list-style: none;
}
.service-item h3,
.features-item-3 h3 {
  font-size: 21px;
  line-height: 21px;
  color: #000000; 
}
.feature-3 {
  background-color: #eeeeee;

}
.form h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.search-button {
  font: inherit;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  
  background-color: #8a7a70;
  border: none; 
}
.search-button:hover {
  background-color: #6d5d53;
  }
.search-button:focus {
  background-color: #615046;
  color: rgba(255, 255, 255, 0.3)
    }
.form-item  {
  font-size: 14px;
  line-height: 26px;
  color: #000000; 
  background-color: #dbd7d4;
  
    }
.form-item input {
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  color: #000000; 
  background-color: #fafafa;
  border: none;
}
.form-item input:hover {
  background-color: #ebebeb; 
}
.form-item input:focus {
  background-color: #ffffff; 
}
.submit-button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none; 
}
.submit-button:hover {
  background-color: #669ec0;
  }
.submit-button:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
  }
.minus,
.plus {
  color: #a9a9a9;
  border: none; 
  background-color: #f2f2f2;
} 
.minu:hover,
.plus:hover {
  color: #000000;
  } 
.minu:focus,
.plus:focus {
  color: #81b3d2;
    } 
.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

                /*стилизация catalog.html  */

.filters form {
  background-image: url("img/background_catalog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
 }
 .filter fieldset {
  border: none;
}
 .filters legend {
  font-size: 16px;
  line-height: 21px;
}
.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.input-hidden:disabled + label {
opacity: 0.5;
} 
.search-submit-btn {
border: 2px solid #ffffff;
background: transparent;
font-size: 14px;
line-height: 21px;
color: #ffffff;
text-transform: uppercase;
}
.search-submit-btn:hover {
  background-color: #ffffff;
  color: #000000;
}
/* не знаю как добавить ползунки */
.result-list {
  list-style: none; 
}
.count b {
  font-size: 21px;
  line-height: 26px; 
}
.result-list p {
  font-size: 12px;
  line-height: 18px; 
}
.btn-sorting  {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #81b3d2;  
}
.btn-sorting:active {
  color: #81b3d2;
}
.btn-sorting:hover {
color: #81b3d2;
}
.btn-sorting:focus {
  color: #000000;
  }
.column-info h3 {
    font-size: 21px;
    line-height: 26px; 
  }
.second-wrap  {
    font-size: 14px;
    line-height: 21px;
    font-weight: 100; 
  }
.button-info {
  color: #ffffff;
  background-color: #81b3d2;
}
.button-info:hover {
  background-color: #669ec0;
}
.button-info:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button-booking {
  color: #ffffff;
  background-color: #766357;
}
.button-booking:hover {
  background-color: #604e43;
}
.button-booking:focus {
  background-color: #604e43;
  color: rgba(255, 255, 255, 0.3);
}
.raiting {
  color: #666666;
  background-color: #f2f2f2;
}

/* сетка  */
.container {
  width: 1200px; 
  margin: 0 auto; 
  box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
  box-sizing: border-box;
  padding: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 20px;
}
.site-navigation li:nth-child(1) {
  text-align: left;
    margin-left: 6%; 
}
.site-navigation li:nth-child(2) {
  text-align: right;
    margin-right: 12%;
}
.site-navigation li:nth-child(3) {
  text-align: left;
    margin-left: 12%;
}
.site-navigation li:nth-child(4) {
  text-align: right;
  margin-right: 6%;
}
.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
 }
 ul.service-list {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 58px;
}
.features-list {
     display: flex;
    justify-content: space-around;
}
div.footer-social {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 132px;
    margin-right: 102px;
    padding-top: 29px;
}
ul.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 170px;
  padding: 0;
  margin: 0 auto; 
}
a.social-button {
  background-color: #81b3d2;
  width: 46px;
  height: 48px; 
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


ul.result-list {
display: flex;
align-items: baseline;
justify-content: flex-start;
border-bottom: 1px solid #e5e5e5;
}
li.hotel-item  {
  border-bottom: 1px solid #e5e5e5;
  display: flex; 
}
.column-stars {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 73px; 
}
.wrapper-stars{
  display: flex; 
}